<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903178109798-e97u6d388ul9hfg61g3nliks9u259m98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903178109798-e97u6d388ul9hfg61g3nliks9u259m98</string>
	<key>API_KEY</key>
	<string>AIzaSyBDKm8_02SJnSNQaou16ga3_YZ5mGnkf0I</string>
	<key>GCM_SENDER_ID</key>
	<string>903178109798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-4b4e2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-4b4e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903178109798:ios:133388530241b6793dfea7</string>
</dict>
</plist>